* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
background: #032d63;
font-family: Arial, sans-serif;
padding: 20px;
}


.channel-card {
margin: 40px auto;
background-color: rgba(150, 190, 232, 0.55);
border-radius: 20px;
padding: 30px 20px;
text-align: center;
max-width: 400px;
width: 100%;
box-shadow: 0 10px 30px rgb(66, 107, 134);
color: white;
}


.logo-placeholder {
width: 130px;
height: 130px;
margin: 0 auto 20px auto;
}


.logo-placeholder img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50%;
}


.name {
font-size: 1.8rem;
font-weight: 900;
color: black;
margin-bottom: 10px;
}


.subscribers {
color: #abb4ca;
font-size: 1.2rem;
font-weight: 400;
display: block;
margin-bottom: 20px;
}


.features-list {
list-style: none;
margin-bottom: 20px;
text-align: left;
}

.feature-item {
display: flex;
align-items: center;
margin-bottom: 12px;
font-size: 1.2rem;
}


.checkmark {
background-color: #ffffff;
color: rgb(0, 68, 255);
margin-right: 10px;
font-weight: bold;
width: 24px;
height: 22px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px;
}


.hurry {
color: #ffeb3b;
padding: 10px;
margin-bottom: 20px;
font-weight: 600;
font-size: 1.2rem;
}


.join-button {
display: block;
width: 100%;
padding: 15px 20px;
background-color: #4c6fff;
color: rgb(0, 0, 0);
text-decoration: none;
border-radius: 10px;
font-size: 1.3rem;
font-weight: 800;
transition: 0.3s ease;
box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}


.join-button:hover {
background-color: #2d5de9;
}


@media (max-width: 480px) {
.name {
font-size: 1.5rem;
}
.feature-item {
font-size: 1.05rem;
}
.join-button {
font-size: 1.05rem;
}
.logo-placeholder {
width: 110px;
height: 110px;
}
}